@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height */
  text-align: center;
  background-color: var(--body-bg); /* Background color */
  color: var(--text-color); /* Text color */
  gap: 20px;
}

.home-page h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem; /* Large font size for the heading */
  color: var(--accent-color); /* Main text color for headings */
}

.logo-image {
  width: 300px; /* or any size you want */
  height: auto;
}

.home-page button {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--btn-text-color, #FFFFFF); /* Button text color with fallback to white */
  background: var(--primary-color); /* Primary color for button background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Comfortaa", sans-serif;
}

.home-page button:hover {
  background-color: var(--btn-primary-hover-bg); /* Darker shade for hover state */
}

/* You might want to add more specific styles for your link if needed */
.home-page a {
  text-decoration: none;
  color: var(--link-color); /* Ensure link color is visible */
}

/* If you are using icons like in the Team page, you might add styles for them as well */
.home-page .icon {
  font-size: 1.5rem; /* Large icons */
  margin-right: 0.5rem;
  color: var(--primary-color); /* Icon color */
}

/* For responsiveness */
@media (max-width: 768px) {
  .home-page h1 {
    font-size: 2rem; /* Slightly smaller font size for smaller screens */
  }
}
